name: Update votes

on:
  schedule:
    - cron: '0 * * * *' # runs hourly

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: execute generate.py
        run: python generate.py

      - name: git commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'Generate markdown'
